<ion-header>
  <ion-toolbar>
    <ion-title>Nuevo restaurante</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form">

    <ion-item [class.ion-invalid]="esInvalido('documentName')" [class.ion-touched]="esInvalido('documentName')">
      <ion-input
        label="Nombre *"
        labelPlacement="floating"
        formControlName="documentName"
        placeholder="Nombre del restaurante">
      </ion-input>
      @if (esInvalido('documentName')) {
        <ion-note slot="error">El nombre es obligatorio</ion-note>
      }
    </ion-item>

    <ion-item [class.ion-invalid]="esInvalido('territory')" [class.ion-touched]="esInvalido('territory')">
      <ion-select
        label="Territorio *"
        labelPlacement="floating"
        formControlName="territory"
        placeholder="Selecciona territorio">
        @for (t of territorios; track t) {
          <ion-select-option [value]="t">{{ t }}</ion-select-option>
        }
      </ion-select>
      @if (esInvalido('territory')) {
        <ion-note slot="error">El territorio es obligatorio</ion-note>
      }
    </ion-item>

    <ion-item [class.ion-invalid]="esInvalido('locality')" [class.ion-touched]="esInvalido('locality')">
      <ion-select
        label="Localidad *"
        labelPlacement="floating"
        formControlName="locality"
        placeholder="Selecciona localidad">
        @for (loc of localidadesFiltradas; track loc) {
          <ion-select-option [value]="loc">{{ loc }}</ion-select-option>
        }
      </ion-select>
      @if (esInvalido('locality')) {
        <ion-note slot="error">La localidad es obligatoria</ion-note>
      }
    </ion-item>

    <ion-item [class.ion-invalid]="esInvalido('address')" [class.ion-touched]="esInvalido('address')">
      <ion-input
        label="Dirección *"
        labelPlacement="floating"
        formControlName="address"
        placeholder="Calle, número...">
      </ion-input>
      @if (esInvalido('address')) {
        <ion-note slot="error">La dirección es obligatoria</ion-note>
      }
    </ion-item>

    <ion-item>
      <ion-input
        label="Teléfono"
        labelPlacement="floating"
        formControlName="phone"
        type="tel"
        placeholder="943 000 000">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Web"
        labelPlacement="floating"
        formControlName="web"
        type="url"
        placeholder="https://...">
      </ion-input>
    </ion-item>

    <ion-item [class.ion-invalid]="esInvalido('email')" [class.ion-touched]="esInvalido('email')">
      <ion-input
        label="Email"
        labelPlacement="floating"
        formControlName="email"
        type="email"
        placeholder="contacto@restaurante.com">
      </ion-input>
      @if (esInvalido('email')) {
        <ion-note slot="error">El email no es válido</ion-note>
      }
    </ion-item>

    <ion-item>
      <ion-input
        label="Código postal"
        labelPlacement="floating"
        formControlName="postalCode"
        placeholder="01000">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Tipo de restauración"
        labelPlacement="floating"
        formControlName="restorationType"
        placeholder="Restaurante, bar, sidrería...">
      </ion-input>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-select
              label="⭐ Estrellas Michelin"
              labelPlacement="floating"
              formControlName="michelinStar">
              @for (n of [0,1,2,3]; track n) {
                <ion-select-option [value]="n.toString()">{{ n }}</ion-select-option>
              }
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-select
              label="🔴 Soles Repsol"
              labelPlacement="floating"
              formControlName="repsolSun">
              @for (n of [0,1,2,3]; track n) {
                <ion-select-option [value]="n.toString()">{{ n }}</ion-select-option>
              }
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button
      expand="full"
      [disabled]="guardando"
      (click)="guardar()">
      <ion-icon slot="start" name="save-outline"></ion-icon>
      {{ guardando ? 'Guardando...' : 'Guardar restaurante' }}
    </ion-button>
  </ion-toolbar>
</ion-footer>